%h1 UPDATE
= form_tag action: "updatemymovie", method: "get" do

  = label :movie, :title, 'Current Title'
  = text_field :movie, 'title'
    
  = label :movie, :newtitle, 'New Title'
  = text_field :movie, 'newtitle'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, ['N/A','G','PG','PG-13','R','NC-17']

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date

  = submit_tag 'Save Changes' 